*{
    list-style-type:none;
    padding:0;
    margin:0;
    box-sizing:border-box;
    color: #fff;
    text-decoration: none;
    font-family:'open sans',sans-serif;
}
body{
    background-image:url("../images/390076.jpg");
    background-size: cover;
}
.wrapper .sidebar{
    background-color:rgb(5,68,104);
    left:0;
    top:0;
    height:100%;
    width: 250px;
    position: fixed;
    transition:all 0.5s ease;
}
.profile{
    padding:25px 0;
    text-align: center;
}
.profile p{
    color:rgb(206,204,253);
    margin: 5px 0;
}
.profile img{
    height:100px;  
    width:100px; 
    border-radius:100%;
}
.wrapper .sidebar ul li a{
    display: block;
    padding:14px 30px;
    font-size:16px;
    color:rgb(241, 237 ,237);
    border-bottom:1px solid #10558d;
    position: relative;
}
.icon{
    color:#dee4ec;
    width:30px;
    display: inline-block;
}

/* link hover */

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
    background:gray;
    border-right:2px solid rgb(5,68,104);
    color:#0c7db1;
}

.wrapper .sidebar ul li a:hover.icon,
.wrapper .sidebar ul li a.active.icon{
   color: #0c7db1;
}
.wrapper .sidebar ul li a:hover::before,
.wrapper .sidebar ul li a.active::before{
    display: block;
}
.wrapper .section{
    width:calc(100% - 250px);
    margin-left:250px;
    transition:all 0.5s ease;
}

.wrapper .section .top-navbar{
    background-color:rgb(7,105,185);
    height:50px;
    display: flex;
    align-items: center;
    padding:0 30px;
}
.wrapper .section .top-navbar .humburger a{
    font-size: 28px;
    color:#f4fbff;
}
.wrapper .section .top-navbar .humburger a:hover{
    color:#a3ecff;
}

body.active .wrapper .sidebar{
    left:-250px;
}
body.active .wrapper .section{
    margin-left:0;
    width:100%;
}